

.header000 {
  color: gray;
  
}

a {
  text-decoration: none;
  color: inherit;
  
}


.button {
  height: 30px;
  padding: 0 2em;
  border: none;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 199px;
  margin-top: 20px;
  
}

.button[disabled],
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 ;

}


.user-list ul li {
  margin: 1em 0;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 350px;
  align-self: start;
}

.hover:hover {
  color: #ffa500;
}

.container,
p {
  display: Flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  
}

.container2 {
  color: gray;

}

.user-list ul li h3 {
  border-radius: 8px 8px 0 0;
  padding: 0.25em 1em;
  background-color: #ffa600;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
}

.status-indicator.active {
  background-color: green;
}

.status-indicator.away {
  background-color: gold;
}

.status-indicator.offline {
  background-color: lightgray;
}

.user-list ul li .stats {
  display: flex;
  padding: 0 1em 1em 1em;
  justify-content: space-between;
}

.stats2 {
  display: flex;
  padding: 0 1em 1em 1em;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
}

.user-detail {
  max-width: 800px;
  min-width: 400px;
}

.user-detail-header {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 40px;

  color: gray;
  margin-left: 97px;

}

.user-detail .user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-detail li {
  border: 1px solid #eee;
  padding: 1em;
  margin: 0.5em 0;
  background-color: white;
  align-items: center;
  width: 70%;
  border-radius: 20px;
  
}


.logout-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 1em;
}

.login input {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
  border: 1px solid #eee;
  padding: 1em;
  margin-top: 0.5em;
  color: gray;
  font-family: "Permanent Marker", cursive;
}

.login label {
  display: flex;
  flex-direction: column;
}

.login form {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .user-detail {
    min-width: unset;
  }

  .user-detail-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-detail-header h1 {
    margin: 0;
  }

  .user-detail-header p {
    margin-top: 0;
  }
}

  
 




 


  
 @media (min-width:320px)  {    
  .list00{
    margin-Left: 35px;
  
  }
 }

 @media (min-width:360px)  {    
  .list00{
    margin-Left: 60px;
  
  }
 }
  @media (min-width:375px)  {    
  .list00{
    margin-Left: 70px;
  
  }
 }

 @media (min-width:411px)  {    
  .list00{
    margin-Left: 90px;
  
  }
 }

 @media (min-width:414px)  {    
  .list00{
    margin-Left: 95px;
  
  }
 }

 @media (min-width:768px)  {    
  .list00{
    margin-Left:200px;
  
  }
 }
  
  
 


  
 



 

 
