.App {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.app__form {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  margin-bottom:30px;
  z-index:1;
  background-color: gray;
 height: 50px;
}

.list {
  display:flex;
  justify-content: column;
  flex-direction: column;
}

.chover:hover {
  color: #ffa600;
}

.display{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-left: 32px;
}

.underline{
  margin-top: 30px;
  margin-bottom: 20px;

  border: 2px solid;
  width: 145%;
  color: gray;
  margin-left: 19px;
  border-radius: 1000px;


}
.contacts{
  margin-Top: 10px;

}
input{
width:70%;
margin-right:20px;
border-radius: 100px;
text-decoration: none;
}
.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  margin-left: 10px;
}
.btn {
  border-radius: 200px;
  border: none;
  height: 50px;
  margin-right:40px;
}
.message__user {
  margin-left: auto;
  color: white;
  text-align: left  !important;

}

.message__userCard{
  background-color:#ffa600 !important;
  margin-left: 390px;
  

}

.message__guestCard{
  background-color: rgb(255, 255, 255) !important;
  margin-right: 300px;
  


}

@media (min-width: 360px) {
  .underline{
    margin-top: 30px;
    margin-bottom: 20px;
  
    border: 2px solid;
    width: 133%;
    color: gray;
    margin-left: 19px;
    border-radius: 1000px;
  }

  .btn {
    border-radius: 200px;
    border: none;
    height: 50px;
    margin-right:40px;
  }

input{
width:70%;
border-radius: 100px;
text-decoration: none;
}

  


  
  
  }


@media (min-width: 375px) {
  .underline{
    margin-top: 30px;
    margin-bottom: 20px;
  
    border: 2px solid;
    width: 136%;
    color: gray;
    margin-left: 19px;
    border-radius: 1000px;
  
  
  }

  @media (min-width: 411px) {
    .underline{
      margin-top: 30px;
      margin-bottom: 20px;
    
      border: 2px solid;
      width: 150%;
      color: gray;
      margin-left: 19px;
      border-radius: 1000px;
    
    }
    }

  @media (min-width: 414px) {
    .underline{
      margin-top: 30px;
      margin-bottom: 20px;
    
      border: 2px solid;
      width: 152%;
      color: gray;
      margin-left: 19px;
      border-radius: 1000px;
    
    }
    }
  


  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 768px) {
.contacts{
  margin-left: 116px;
}

  
  }
