.app {
  background-color: rgb(246, 246, 217) ;
  width: 100%;
  background-size: cover;
  text-align: center;
  font-family: 'Poppins', sans-serif;


}




html {min-height: 100%;}
.app__body{
  display: flex;
  height: 100%;
  
  
}


/*background-color: #f1f2f5;*/
