.ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;

  position: fixed;
  bottom: 0;
  width: 100%;

  z-index: 100;
}

.row {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 40px;
  align-items: center;
  margin-top: 10px;
}

@media (min-width: 900px) {
  .d-none1 {
    display: none;
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
