.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 375px) {


  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 900px) {
  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }

  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
  }

  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
  }

  /* hi-res laptops and desktops */
}
