.login {
  display: grid;
  place-items: center;
  padding: 50px;
  margin-top: 100px;
  background-color: white;
}

.login > button {
  width: 300px;
  background-color: #FFA500;
  color: #eff2f5;
  font-weight: 800;
}

.login > button:hover {
  background-color: white;
  color: #FFA500;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}
