
body{
  background-color: rgb(246, 246, 217) ;
  width: 100%;
  background-size: cover;
  text-align: center;
}
.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #f3f1ed;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post_top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post_avatar {
  margin-right: 10px; 
}

.post_topInfo > h3 {
  font-size: medium;
}

.post_topInfo > p {
  font-size: small;
  color: gray;
}

.post_bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post_image > img {
  width: 100%;

}

.post_options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.post_option{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post_option > p {
  margin-left: 10px;
}

.post_option:hover {
  background-color: #eff2f5;
  border-bottom: 10px;
}


@media (max-width:1834px)  { 
  .post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #f3f1ed;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    margin-left: 2px;
  }
}

@media (max-width:360px)  {
  .post {
    width: 80%;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #f3f1ed;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  }

  .d-none8{
    display: none;

  }
}


@media (max-width:411px)  {
  .post {
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #f3f1ed;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  }

  .d-none8{
    display: none;

  }
}
@media (max-width:414px)  {
  .post {
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #f3f1ed;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    margin-left: 2px;
  }

  .d-none8{
    display: none;

  }
}
 @media (max-width:375px)  {
  .post {
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #f3f1ed;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }

  .d-none8{
    display: none;

  }
  /* smartphones, iPhone, portrait 480x320 phones */ 
 }

 @media (max-width:768px)  {
  .post {
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #f3f1ed;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    margin-left: 1px;
  }

  .d-none8{
    display: none;

  }
  /* smartphones, iPhone, portrait 480x320 phones */ 
 }
 
 
 @media (min-width:481px)  {
 
 
   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
   }
 
 
 @media (min-width:641px)  {
 
 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
   }
 
 
 @media (min-width:961px)  {
 
 
 
   /* tablet, landscape iPad, lo-res laptops ands desktops */ }
 
 
 @media (min-width:1025px) {
 
 
   /* big landscape tablets, laptops, and desktops */ 
  }
 
 
 @media (min-width:1281px) { 
  
 
  
  
 
  /* hi-res laptops and desktops */
 }